
@{
    ViewBag.Title = "BlogItemEdit";
}

<div id="wrapper">
    @Html.Partial("SideBarPartial")
    <div id="content-wrapper">
        <table " id="dataTable"></table>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    <strong> Blog page item part</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <table class="table table-striped  " id="dataTable" width="100%" cellspacing="0">
                            @using (Html.BeginForm("BlogItemEdit", "Blogs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group ">
                                    <label for="BlogItemTitle">Title</label>
                                    <input type="text" class="form-control" name="BlogItemTitle" value="@ViewData["BlogItemTitle"] ">
                                </div>
                                <div class="form-group ">
                                    <label for="BlogItemCover" >Cover photo</label>
                                    <input type="file" class="form-control" name="BlogItemCover">
                                </div>
                                <textarea name="BlogItemSource" id="text">@ViewData["BlogItem"]</textarea>
                                <div class="form-group mt-2">
                                    <label for="BlogItemAuthor">Author</label>
                                    <input type="text" class="form-control" name="BlogItemAuthor" value="@ViewData["BlogItemAuthor"]">
                                </div>
                                <div class="mt-3 form-group">
                                    <h4>Select Category</h4>
                                    @Html.DropDownList("BlogCategoryId", new SelectList(ViewBag.Category, "BlogCategoryId", "BlogCategoryName"), new { @class = "form-control" })
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            }
                            <asp:TextBox runat="server" id="text" TextMode="MultiLine"></asp:TextBox>
                            <script>
                                  CKEDITOR.replace("text")
                                  CKFinder.setupCKEditor(null,'@Url.Content("~/ckfinder/")')
                            </script>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




