
@{
                /**/

                ViewBag.Title = "MainEdit";
}

<div id="wrapper">
    @Html.Partial("SideBarPartial")
    <div id="content-wrapper">
        <table " id="dataTable"></table>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    <strong> Contact page main part</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <table class="table table-striped  " id="dataTable" width="100%" cellspacing="0">
                            @using (Html.BeginForm("MainEdit", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group ">
                                    <label for="ContactBackPic">Background picture text</label>
                                    <input type="file" class="form-control" name="ContactBackPic">
                                </div>
                                <div class="form-group ">
                                    <label for="ContactBackPicText">Background picture text</label>
                                    <input type="text" class="form-control" name="ContactBackPicText" value='@ViewData["ContactPageBackPicText"]'>
                                </div>
                                <div class="form-group">
                                    <label for="ContactAddress">Address</label>
                                    <input type="text" class="form-control" name="ContactAddress" value='@ViewData["ContactPageAddress"]'>
                                </div>
                                <div class="form-group ">
                                    <label for="ContactPhone">phone</label>
                                    <input type="text" class="form-control" name="ContactPhone" value='@ViewData["ContactPagePhone"] '>
                                </div>
                                <div class="form-group ">
                                    <label for="ContactEmail">Email</label>
                                    <input type="text" class="form-control" name="ContactEmail" value='@ViewData["ContactPageEmail"] '>
                                </div>
                                <div class="form-group ">
                                    <label for="ContactOfficeLocation">Location</label>
                                    <input type="text" class="form-control" name="ContactOfficeLocation" value='@ViewData["ContactPageOfficeLocation"] '>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



