@model TourismWebProject.Models.TourViewModel

@{
    ViewBag.Title = "Index";

    double pageCount = Model.Tour.Count() / 6.0;

    //to store Tours
    IEnumerable<TourismWebProject.Models.Tour> Tour;

    //empty list
    List<TourismWebProject.Models.Tour> EmptyList = new List<TourismWebProject.Models.Tour>();

    int count = 0;


    //No results message count
    int NoResultCount = 0;
}



@foreach(var item in Model.TourPage)
{

    <div class="hero-wrap js-fullheight" style="background-image: url(/Assets/images/@item.ToursPageBackPic);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="~/Public/Home/Index">Home</a></span> <span>Tour</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@item.ToursPageBackPicText</h1>
                </div>
            </div>
        </div>
    </div>
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar">
                <div class="sidebar-wrap bg-light ftco-animate">
                    <h3 class="heading mb-4">Find Tour</h3>
                    @using (Html.BeginForm("Search", "Tours", FormMethod.Post))
                    {
                        <div class="select-wrap one-third">
                            <div class="form-group">
                                <label for="HotelCountry">Country:</label><br />
                                <select class="crs-country form-control" data-region-id="ABC" name="HotelCountry"></select>
                            </div>
                            <div class="form-group ">
                                <label for="HotelCity">City/Region:</label><br />
                                <select class="crs-country form-control" name="HotelCity" id="ABC"></select>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">

                    @if (Convert.ToInt32(ViewData["PageNum"]) == 0 || ViewData["PageNum"] == null && ViewData["Country"] == null)
                    {
                        Tour = Model.Tour.Take(6);
                    }
                    else
                    {
                        Tour = Model.Tour.Skip(6 * Convert.ToInt32(ViewData["PageNum"]));
                    }
                    @if (ViewData["Country"] != null && ViewData["City"] != null || ViewData["Country"] != null && ViewData["City"] == null)
                    {
                        Tour = Model.Tour;
                    }                
                    @if (Convert.ToString(ViewData["Country"]) == "No such country" || Convert.ToString(ViewData["City"]) == "No such city")
                    {
                        Tour = EmptyList;
                    }
                    @if (ViewData["Country"] != null && ViewData["City"] != null && ViewData["AvailableHotels"] != null)
                    {
                        count = 1;
                        foreach (var item in ViewData["AvailableHotels"] as List<TourismWebProject.Models.Tour>)
                        {
                            count++;
                            Tour = ViewData["AvailableHotels"] as List<TourismWebProject.Models.Tour>;
                        }

                        if (count == 1)
                        {
                            Tour = EmptyList;
                        }
                    }



                    @foreach (var item in Tour)
                    {
                        if (item.TourStatus == 1)
                        {
                            if (ViewData["Country"] == null || item.Hotel.HotelCountry == Convert.ToString(ViewData["Country"]) && item.Hotel.HotelCity == Convert.ToString(ViewData["City"]) || item.Hotel.HotelCountry == Convert.ToString(ViewData["Country"]) && ViewData["City"] == null )
                            {
                                NoResultCount++;
                                <div class="col-md-4 ftco-animate">
                                    <div class="destination">
                                        <a href="~/Public/Tours/Single/@item.TourId" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/Assets/images/@item.TourPic);">
                                        </a>
                                        <div class="text p-3">
                                            <div class="d-flex">
                                                <div class="one">
                                                    <h3><a href="~/Public/Hotels/Single/@item.TourId">@item.TourName</a></h3>
                                                </div>
                                            </div>
                                            <p>@item.TourDescription.Split('.')[0]...</p>
                                            <hr>
                                            <p class="bottom-area d-flex">
                                                <span><i class="icon-map-o"></i> @item.Hotel.HotelCountry, @item.Hotel.HotelCity</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                    @if (NoResultCount == 0)
                    {
                        <div class="col-md-4 ftco-animate">
                            <h3>No Result Found</h3>
                        </div>
                    }

                </div>

                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                @if (ViewData["Country"] == null && ViewData["City"] == null)
                                {
                                    if ((pageCount % 1) == 0)
                                    {
                                        for (var i = 1; pageCount >= i; i++)
                                        {
                                            <li><a href="~/Public/Tours/Page/@i">@i</a></li>
                                        }
                                    }
                                    else
                                    {
                                        for (var i = 1; Math.Truncate(pageCount) + 1 >= i; i++)
                                        {
                                            <li><a href="~/Public/Tours/Page/@i">@i</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- .section -->
