
@{
    ViewBag.Title = "RoomEdit";
}
<div id="wrapper">
    @Html.Partial("SideBarPartial")
    <div id="content-wrapper">
        <table " id="dataTable"></table>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    <strong> Edit a room</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <table class="table table-striped  " id="dataTable" width="100%" cellspacing="0">
                            @using (Html.BeginForm("RoomEdit", "Hotels", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-group ">
                                    <label for="RoomName"> Name:</label>
                                    <input type="text"  required=""  class="form-control" name="RoomName" value="@ViewData["RoomName"] ">
                                </div>
                                <div class="form-group ">
                                    <label for="RoomPrice"> Price:</label>
                                    <input type="text"  required=""  class="form-control" name="RoomPrice" value="@ViewData["RoomPrice"] ">
                                </div>
                                <div class="form-group ">
                                    <label for="RoomCapacity">Capacity:</label>
                                    <input type='text'  required=""  class="form-control" name="RoomCapacity" value="@ViewData["RoomCapacity"]" />
                                </div>
                                <div class="form-group ">
                                    <label for="RoomPic"> Room photo :</label>
                                    <input type='file' name="RoomPic" />
                                </div>
                                <div class="form-group ">
                                    <label for="RoomDescription"> Description:</label><br />
                                    <textarea type='text'  required=""  width="100%" name="RoomDescription" style="width: 100%;">@ViewData["RoomDescription"] </textarea>
                                </div>
                                <div class="form-group ">
                                    <label for="RoomStatus"> Status:</label>
                                    @Html.DropDownList("RoomStatus", new SelectList(ViewBag.Statuses, "StatusId", "StatusName"), new { @class = "form-control" })
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


