@model TourismWebProject.Models.HotelViewModel
@{
    ViewBag.Title = "Single";
}

@foreach (var item in Model.HotelPage)
{

    <div class="hero-wrap js-fullheight" style="background-image: url(/Assets/images/@item.HotelPageBackPic);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="~/Public/Home/Index">Home</a></span> <span>Hotel</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@item.HotelPageBackPicText</h1>
                </div>
            </div>
        </div>
    </div>
}


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar">
                <div class="sidebar-wrap bg-light ftco-animate">
                    <h3 class="heading mb-4">Find Hotel</h3>
                    @using (Html.BeginForm("Search", "Hotels", FormMethod.Post))
                    {
                        <div class="select-wrap one-third">
                            <div class="form-group">
                                <label for="HotelCountry">Country:</label><br />
                                <select class="crs-country form-control" data-region-id="ABC" name="HotelCountry"></select>
                            </div>
                            <div class="form-group ">
                                <label for="HotelCity">City/Region:</label><br />
                                <select class="crs-country form-control" name="HotelCity" id="ABC"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Dates:</label><br />
                            <input type="text" id="checkin_date" class="form-control" name="ReservationDateFrom" placeholder="Date from">
                        </div>
                        <div class="form-group">
                            <input type="text" id="checkin_date" class="form-control" name="ReservationDateTo" placeholder="Date to">
                        </div>
                        <div class="form-group ">
                            <label for="HotelRating"> Star rating:</label>
                            @Html.DropDownList("RatingId", new SelectList(ViewBag.StarRating, "RatingId", "RatingStar"), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-12 ftco-animate">

                        <div class="single-slider owl-carousel">
                            @Html.Raw(ViewData["HotelPics"])
                        </div>
                    </div>
                    <div class="col-md-12 hotel-single mt-4 mb-5 ftco-animate">
                        <h4>@ViewData["HotelName"] </h4>
                        <span>Our Best hotels &amp; Rooms</span>

                        <h2>Luxury Hotel in @ViewData["HotelCountry"], @ViewData["HotelCity"]</h2>
                        <p class="rate mb-5">
                            <span class="loc"><i class="icon-map"></i> @ViewData["HotelAddress"]</span>
                            <span class="star">
                                @for (var i = 0; i < Convert.ToInt32(ViewData["HotelRating"]); i++)
                                {
                                    <i class="icon-star"></i>
                                }
                                <span>Rating</span>
                            </span>
                        </p>
                        <div class="d-md-flex mt-5 mb-5">
                            <p> @ViewData["HotelDescription"]</p>
                        </div>
                    </div>

                    <div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
                        <h4 class="mb-4">Our Rooms</h4>
                        <div class="row">
                            @foreach (var item in Model.HotelRoom)
                            {
                                if (item.HotelId == Convert.ToInt32(ViewData["HotelId"]))
                                {
                                    <div class="col-md-4">
                                        <div class="destination">
                                            <a href="hotel-single.html" class="img img-2" style="background-image: url(/HotelItems/Images/@item.room.RoomPic);"></a>
                                            <div class="text p-3">
                                                <div class="d-flex">
                                                    <div class="two">
                                                        <span class="price per-price">$@item.room.RoomPrice<small class="ml-2">/night</small></span>
                                                    </div>
                                                </div>
                                                <p>@item.room.RoomDescription</p>
                                                <hr>
                                                <p class="bottom-area d-flex">
                                                    <span>Our Best Room</span>
                                                    <span class="ml-auto"><a href="#">Book Now</a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
                                <h4 class="mb-5">Check Availability &amp; Booking</h4>
                                <div class="fields">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" id="checkin_date" class="form-control" placeholder="Date from">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" id="checkin_date" class="form-control" placeholder="Date to">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="select-wrap one-third">
                                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                    <select name="" id="" class="form-control" placeholder="Guest">
                                                        <option value="0">Guest</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="select-wrap one-third">
                                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                    <select name="" id="" class="form-control" placeholder="Children">
                                                        <option value="0">Children</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Check Availability" class="btn btn-primary py-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 hotel-single ftco-animate mb-5 mt-5">
                                <h4 class="mb-4">Related Hotels</h4>
                                <div class="row">
                                    @foreach (var item in Model.Hotel)
                                    {
                                        if (item.HotelCountry == Convert.ToString(ViewData["HotelCountry"]) && item.HotelCity == Convert.ToString(ViewData["HotelCity"]))
                                        {
                                            <div class="col-md-4">
                                                <div class="destination">
                                                    <a href="~/Public/Hotels/Single/@item.HotelId" class="img img-2" style="background-image: url(/HotelItems/Images/@item.HotelCoverPic);"></a>
                                                    <div class="text p-3">
                                                        <div class="d-flex">
                                                            <div class="one">
                                                                <h3>@item.HotelName</h3>
                                                                <p class="rate">
                                                                    @for (var i = 0; i < Convert.ToInt32(item.Rating.RatingStar); i++)
                                                                    {
                                                                        <i class="icon-star"></i>
                                                                    }
                                                                    <span>Rating</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p>@item.HotelDescription.Split('.')[0]</p>
                                                        <hr>
                                                        <p class="bottom-area d-flex">
                                                            <span><i class="icon-map-o"></i> @item.HotelCountry, @item.HotelCity</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                                @if (!Model.Hotel.Exists(f => f.HotelCity == Convert.ToString(ViewData["HotelCity"])))
                                {
                                    <h5 class="mb-4">No related hotels in this area</h5>
                                }
                            </div> <!-- .col-md-8 -->
                        </div>
                    </div>
                </div>
            </div>
</section> <!-- .section -->
