@model TourismWebProject.Models.BlogViewModel

@{
    ViewBag.Title = "Index";

    double pageCount = Model.blogItems.Count() / 8.0;

    //to store blogitems
    IEnumerable<TourismWebProject.Models.BlogItem> a;

    //to store the amount of the selected category items
    int CategoryItemCount = 0;

}

@foreach (var item in Model.blogPage)
{
    <div class="hero-wrap js-fullheight" style="background-image: url(/Assets/images/@item.BlogtBackPic);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="~/Public/Home/Index">Home</a></span> <span>Blog</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@item.BlogBackPicText</h1>
                </div>
            </div>
        </div>
    </div>
}


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            @if (Convert.ToInt32(ViewData["PageNum"]) == 0 || ViewData["PageNum"] == null)
            {
                a = Model.blogItems.Take(8);
            }
            else
            {
                a = Model.blogItems.Skip(8 * Convert.ToInt32(ViewData["PageNum"]));
            }

            @foreach (var item in a)
            {
                if (item.BlogCategoryId == Convert.ToInt32(ViewData["CategoryId"]) || ViewData["CategoryId"] == null)
                {
                    CategoryItemCount++;
                    <div class="col-md-3 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch">
                            <a href="~/Public/Blogs/Single/@item.BlogItemId" class="block-20" style="background-image: url(/Assets/BlogImages/images/@item.BlogItemCover);">
                            </a>
                            <div class="text p-4 d-block">
                                <span class="tag">@item.BlogCategory.BlogCategoryName</span>
                                <h3 class="heading mt-3">@item.BlogItemTitle</h3>
                                <div class="meta mb-3">
                                    <div><a href="#">@item.DateTime.ToString("dd/MM/yyyy")</a></div>
                                    <p>Author:</p>
                                    <h4>@item.BlogItemAuthor.Split('/')[0]</h4>
                                    <q>@item.BlogItemAuthor.Split('/')[1]</q>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (ViewData["CategoryId"] == null)
        {
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            @if (ViewData["CategoryId"] == null)
                            {
                                if ((pageCount % 1) == 0)
                                {
                                    for (var i = 1; pageCount >= i; i++)
                                    {
                                        <li><a href="~/Public/Blogs/Page/@i">@i</a></li>
                                    }
                                }
                                else
                                {
                                    for (var i = 1; Math.Truncate(pageCount) + 1 >= i; i++)
                                    {
                                        <li><a href="~/Public/Blogs/Page/@i">@i</a></li>
                                    }
                                }
                            }
                            else
                            {
                                if ((CategoryItemCount % 1) == 0)
                                {
                                    for (var i = 1; pageCount >= i; i++)
                                    {
                                        <li><a href="~/Public/Blogs/Page/@i">@i</a></li>
                                    }
                                }
                                else
                                {
                                    for (var i = 1; CategoryItemCount + 1 >= i; i++)
                                    {
                                        <li><a href="~/Public/Blogs/Page/@i">@i</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


