@model TourismWebProject.Models.BlogViewModel
@{
    ViewBag.Title = "Single";
}
@foreach (var item in Model.blogPage)
{
    <div class="hero-wrap js-fullheight" style="background-image: url(/Assets/images/@item.BlogtBackPic);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="~/Public/Home/Index">Home</a></span> <span>Blog</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@item.BlogBackPicText</h1>
                </div>
            </div>
        </div>
    </div>
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h1>@ViewData["BlogItemTitle"]</h1>
                @Html.Raw(ViewData["BlogItem"])
                <div class="about-author d-flex p-5 bg-light">
                    <div class="bio align-self-md-center mr-5">
                    </div>
                    <div class="desc align-self-md-center">
                        @foreach (var item in Model.blogItems.Where(x => x.BlogItemId == Convert.ToInt32(ViewData["BlogItemId"])))
                        {
                            <h3>@item.BlogItemAuthor.Split('/')[0]</h3>
                            <q>@item.BlogItemAuthor.Split('/')[1]</q>
                        }
                    </div>
                </div>


                <div class="pt-5 mt-5">
                    <ul class="comment-list">
                        @foreach (var item in Model.comments)
                        {
                            if (item.BlogItemId == Convert.ToInt32(ViewData["BlogItemId"]) && item.Status == "Approved")
                            {
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img src="/Assets/images/@item.User.UserPic" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>@item.User.UserName @item.User.UserSurname</h3>
                                        <div class="meta">@item.CommentDate</div>
                                        <p>@item.CommentText</p>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        @using (Html.BeginForm("Comment", "Blogs", FormMethod.Post))
                        {
                            <div class="form-group">
                                <input name="BlogItemId" type="hidden" value="@ViewData["BlogItemId"]"></input>
                            </div>
                            <div class="form-group">
                                <label for="CommentText">Message</label>
                                <textarea name="CommentText" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary" >


</div>
                        }

                    </div>
                </div>

            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box">

                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3>Categories</h3>
                            @foreach (var item in Model.blogCategories)
                            {
                                <li><a href="~/Public/Blogs/Category/@item.BlogCategoryId"> @item.BlogCategoryName</a></li>
                            }
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Recent Blog</h3>
                        @foreach (var item in Model.blogItems.OrderByDescending(x => x.BlogItemId).Take(5))
                        {
                            <div class="block-21 mb-4 d-flex">
                                <a class="blog-img mr-4" style="background-image: url(/Assets/BlogImages/images/@item.BlogItemCover);"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="~/Public/Blogs/Single/@item.BlogItemId">@item.BlogItemTitle</a></h3>
                                    <div class="meta">
                                        <div><span class="icon-calendar"></span> @item.DateTime.Date.ToString("dd/MM/yyyy")</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
</section>

