@model  TourismWebProject.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model.HomePage)
{
    <div class="hero-wrap js-fullheight" style="background-image: url(/Assets/images/@item.HomeBackPic);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong> @item.HomeHeading.Split(',')[0]<br></strong> @item.HomeHeading.Split(',')[1]</h1>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@item.HomeText</p>
                </div>
            </div>
        </div>
    </div>
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <span class="subheading">Special Offers</span>
                <h2 class="mb-4"><strong>Tour</strong>  Packages</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.Tour)
            {
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        <div class="destination">
                            <a href="~/Public/Tours/Single/@item.TourId" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/Assets/images/@item.TourPic);">
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="~/Public/Hotels/Single/@item.TourId">@item.TourName</a></h3>
                                    </div>
                                </div>
                                <p>@item.TourDescription.Split('.')[0]...</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i> @item.Hotel.HotelCountry, @item.Hotel.HotelCity</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
<section class="ftco-section ">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <span class="subheading">Special Offers</span>
                <h2 class="mb-4"><strong>Popular</strong> Hotels</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model.Hotel)
            {
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        <a href="~/Public/Hotels/Single/@item.HotelId" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/HotelItems/images/@item.HotelCoverPic);">
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="~/Public/Hotels/Single/@item.HotelId">@item.HotelName</a></h3>
                                    <p class="rate">
                                        @for (var i = 0; i < Convert.ToInt32(item.RatingId); i++)
                                        {
                                            <i class="icon-star"></i>
                                        }
                                        <span>Rating</span>
                                    </p>
                                </div>
                            </div>
                            <p>@item.HotelDescription.Split('.')[0]...</p>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> @item.HotelCountry, @item.HotelCity</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>




<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-start">
            @foreach (var item in Model.HomePage)
            {
            <div class="col-md-5 heading-section ftco-animate">
                <h2 class="mb-4 pb-3"><strong>@item.TestimonialHeading.Split(',')[0]</strong>@item.TestimonialHeading.Split(',')[1]</h2>
                <p>@item.TestimonialText.Split('/')[0]</p>
                <p>@item.TestimonialText.Split('/')[1]</p>
            </div>
            }
            <div class="col-md-1"></div>
            <div class="col-md-6 heading-section ftco-animate">
                <h2 class="mb-4 pb-3"><strong>Our</strong> Guests Says</h2>
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel">
                            @foreach (var item in Model.Comment)
                            {
                                <div class="item">
                                    <div class="testimony-wrap d-flex">
                                        <div class="user-img mb-5" style="background-image: url(/Assets/images/@item.User.UserPic)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="text ml-md-4">
                                            <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                            <p class="name">@item.User.UserName @item.User.UserSurname</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <span class="subheading">Recent Blog</span>
                <h2><strong>Tips</strong> &amp; Articles</h2>
            </div>
        </div>
            <div class="row ">
                @foreach (var item in Model.BlogItem)
                {
                    <div class="col-md-3 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch">
                            <a href="~/Public/Blogs/Single/@item.BlogItemId" class="block-20" style="background-image: url(/Assets/BlogImages/images/@item.BlogItemCover);">
                            </a>
                            <div class="text p-4 d-block">
                                <span class="tag">@item.BlogCategory.BlogCategoryName</span>
                                <h3 class="heading mt-3">@item.BlogItemTitle</h3>
                                <div class="meta mb-3">
                                    <div><a href="#">@item.DateTime.ToString("dd/MM/yyyy")</a></div>
                                    <p>Author:</p>
                                    <h4>@item.BlogItemAuthor.Split('/')[0]</h4>
                                    <q>@item.BlogItemAuthor.Split('/')[1]</q>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
</section>


